name: ESLint

on: [pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint action
        uses: sibiraj-s/action-eslint@v4
        with:
          # Optional inputs (see action documentation for more)
          ignore-path: '.eslintignore' 
          eslint-args: '--format json'